---
import { getAllPosts, getUniqueTags } from '@/data/post';
import Layout from '@/layouts/Layout.astro'
const allPosts = await getAllPosts();
const allTags = await getUniqueTags();
const pageTitle = "Blog";
---
<Layout pageTitle={pageTitle}>
  <section>
    <h2>Tags</h2>
    <ul class="tags">
      {allTags.map((tag) => (
        <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
      ))}
    </ul>
  </section>
  <section>

    <h2>Posts</h2>
  <ul>
     {allPosts.map((post) => (
      <li><a href={`/posts/${post.slug}`}>{post.data.title}</a></li>
     ))}
  </ul>
  </section>
</Layout>