---
import { getAllPosts, getUniqueTags, sortPostsByDate } from "@/utils/post";
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
import TagList from "@/components/TagList.astro";

const allPosts = await getAllPosts();
const sortPosts = sortPostsByDate(allPosts);
const allTags = await getUniqueTags();

const pageTitle = "Blog";
// TODO: setting meta
const meta = {
  description: "test",
  title: "test",
};
---

<Layout meta={meta}>
  <h1>{pageTitle}</h1>
  <section class="tags__box">
    <h2>Tags</h2>
    <TagList tagList={allTags} />
  </section>
  <section>
    <h2>Posts</h2>
    <PostList postList={sortPosts} isTagsVisible={true} />
  </section>
</Layout>
