---
import PostList from '@/components/PostList.astro';
import ProjectList from '@/components/ProjectList.astro';
import Layout from '@/layouts/Layout.astro';
import { getAllPosts } from '@/utils/post';
import { getAllProjects } from '@/utils/project';

const pageTitle = "Hello!!";
const identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};

const allPosts = await getAllPosts()
const blogEntries = allPosts.slice(0, 3)
const allProjects = await getAllProjects();
const projectEntries = allProjects.slice(0, 3)
// TODO: setting meta
const meta = {
	description: "test",
	title: "test",
};
---
<Layout meta={meta}>
  <h1>{pageTitle}</h1>
  <article>
    <h2>hello</h2>
    <p>Rieogenです。読み方がわからないので、Rieと読んでください。
      神奈川に在住、東京のWeb系企業で働いています。
      高専出身で、高専時代はプロコンに出場したりしていました。
      技術書、小説などの本を読むのが好きです。おすすめの本があれば教えてください。
      休日は大抵パソコンと向き合っていますが、外に出る時はカメラを持ち写真を撮ることが好きです。
      昔ヘルニアを患った過去があるので、ヘルニアトークができます。手術とても痛かった...
      
      このサイトはデザインセンスのない私が趣味で作っているため、見ずらいかもしれませんがお許しください。
      デザイン修正案があれば、是非X(Twitter)でDMでお知らせください(小声)
      </p>
  </article>
  <article>
    <h2>hobby</h2>
    <p>お絵描き、プログラミング、読書</p>
  </article>
  <section>
    <h2>Posts</h2>
    <PostList postList={blogEntries} isTagsVisible={false} />
  </section>
  <section>
    <h2>Projects</h2>
    <ProjectList projectList={projectEntries} />
  </section>
</Layout>
