---
import PostList from "@/components/PostList.astro";
import ProjectList from "@/components/ProjectList.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllPosts } from "@/utils/post";
import { getAllProjects } from "@/utils/project";

const pageTitle = "Hello!!";
const skills = [
  {
    name: "C++",
    icon: "/icons/c-plusplus.svg",
  },
  {
    name: "TypeScript",
    icon: "/icons/typescript-icon.svg",
  },
  {
    name: "Python",
    icon: "/icons/python.svg",
  },
  {
    name: "React",
    icon: "/icons/react.svg",
  },
  {
    name: "Astro",
    icon: "/icons/astro-icon.svg",
  },
  {
    name: "Docker",
    icon: "/icons/docker-icon.svg",
  },
  {
    name: "GitHub",
    icon: "/icons/github-icon.svg",
  },
];
const sns = [
  {
    name: "@Rieogen",
    url: "https://twitter.com/rieogen",
    icon: "/icons/twitter.svg",
  },
  {
    name: "Rieogen",
    url: "https://www.pixiv.net/users/103967837",
    icon: "/icons/pixiv-icon.png",
  },
];

const allPosts = await getAllPosts();
const blogEntries = allPosts.slice(0, 3);
const allProjects = await getAllProjects();
const projectEntries = allProjects.slice(0, 3);
// TODO: setting meta
const meta = {
  title: "Home - Rieogen",
  description: "This is Rieogen's Homepage.",
};
---

<Layout meta={meta}>
  <h1>{pageTitle}</h1>
  <div class="profile">
    <img class="profile__icon" src="/profile_icon.png" alt="rieogen" width="150" height="150" />
    <p class="profile__name">Rieogen</p>
  </div>
  <div class="introduction">
    <article class="introductionBox">
      <p>Rieogenです。読み方がわからないので、Rieと読んでください。</p>
      <p>今まで自分の制作物をネットに上げてこなかったので、これから公開していくためにこのページを作りました。</p>
      <p>神奈川在住、東京のWeb系企業で働いています。</p>
      <p>高専出身で、高専時代はプロコンに出場したりしていました。</p>
      <p>技術書、小説などの本を読むのが好きなので、おすすめの本があれば教えてください。</p>
      <p>
        休日は大抵パソコンと向き合ってイラストを描いたりしていますが、外に出る時はカメラを持ち写真を撮ることが好きです。
      </p>
    </article>
    <section class="introductionBox">
      <h2>Hobby</h2>
      <p>お絵描き、プログラミング、読書</p>
    </section>
    <section class="introductionBox">
      <h2>Skills</h2>
      <div class="introductionBox__icons">
        {
          skills.map(skill => (
            <div>
              <img src={skill.icon} alt={skill.name} height="30" width="30" />
            </div>
          ))
        }
      </div>
    </section>
    <section class="introductionBox">
      <h2>SNS</h2>
      <div class="introductionBox__snsIcons">
        {
          sns.map(sns => (
            <a class="introductionBox__snsIcons--link" href={sns.url}>
              <img src={sns.icon} alt={sns.name} height="30" width="30" />
              <p> - {sns.name}</p>
            </a>
          ))
        }
      </div>
    </section>
    <section class="introductionBox">
      <h2>Posts</h2>
      <PostList postList={blogEntries} isTagsVisible={false} />
    </section>
    <section class="introductionBox">
      <h2>Projects</h2>
      <ProjectList projectList={projectEntries} />
    </section>
  </div>
</Layout>

<style lang="scss">
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
      border-radius: 50%;
    }
    &__name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
  .introduction {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & p {
      margin: 0 8px;
    }

    &Box {
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      &__icons {
        display: flex;
        gap: 1rem;
        margin: 0 8px;
      }

      &__snsIcons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: 0 8px;

        &--link {
          display: flex;
          font-size: 1.2rem;
        }
      }
    }
  }
</style>
